@import "pages/challenges";

.container-card-challenge-details {
  display: flex;
  background: white;
  align-items: center;
  border-radius: 20px;
  // padding: 0px;
  // margin: 10px;
}

.title {
  font-size: 16px;
  font-weight: bold;
}

.summary-title {
  text-align: center;
  font-size: 24px;
  color: #333;
  margin-bottom: 12px;
  margin-top: 14px;
}

.progress-container {
  margin-top: 10px;
}
