@import "components/cover_photo";
@import "components/cards";
@import "components/buttons";
@import "components/avatar";

.user-container {
  border-top: 1px solid #780245 ;
  border-bottom: 1px solid #780245 ;
  margin-bottom: 20px;
  height: 10vh;
  display: flex;
  gap: 20px;
  padding: 10px;
  box-sizing: border-box;
  align-items: center;
}

.user-container p {
  opacity: .8;
}
