// Import page-specific CSS files here.
@import "home";
@import "challenge_show";
@import "challenges";
@import "new_challenge";
@import "user_show";
@import "welcome";
@import "form_challenges";
@import "event_show";

.plain {
    text-decoration: none;
    color: black;
    border: none
  }

// To be deleted? If the events in the seed or the map size changes
.empty {
  margin-bottom: 70px;
}
