@import "components/avatar";
@import "components/buttons";


.profile-navigation {
  background-color: white;
  height: 3em;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.nav-icon {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

.user-infos {
  margin-top: 2em;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.profile-background {
  background-color: #780245;
  height: 6em;
  width: 100%;
  border-radius: 20px;
  z-index: 0;
}

.dashboard-container {
  margin-top: 2em;
  margin-bottom: 2em;
}

.dashboard-container h2{
  margin-bottom: 0.3em;
}

.container-card {
  display: flex;
  overflow: hidden;
  height: 6em;
  background: white;
  align-items: center;
  border-radius: 20px;
  padding: 0px;
  margin: 10px;
}

.card-dashboard-img {
  height: 100%;
  width: 120px;
  object-fit: cover;
  margin-right: 15px;
}

.container-info .title-dash {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.container-info .location {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.users-list {
  margin-top: 130px
}

.user-fullname{
  position: absolute;
  top: 150px;
  font-size: 20px;
}
