// Specific CSS for your welcome

.welcome-page {
  padding: 20px;
  background-color: #f9f9f9;
  text-align: center;
  height: 100vh;
}

.title-welcome {
  font-size: 34px;
  margin-bottom: 20px;
  font-weight: bold;
}

.description-welcome {
  font-size: 18px;
  margin-bottom: 54px;
}

.logo-welcome {
  width: 50%;
}

.title-question {
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: bold;
}
