// Specific CSS for your welcome

.welcome-page {
  padding: 20px;
  background-color: #f9f9f9;
  text-align: center;
  height: 100vh;
}

.title-welcome {
  font-size: 34px;
  margin-bottom: 20px;
  font-weight: bold;
}

.description-welcome {
  font-size: 18px;
  margin-bottom: 90px;
}

.logo-welcome {
  width: 50%;
  margin-top: 2em;
}

.title-question {
  font-size: 24px;
  margin-bottom: 1em;
  font-weight: bold;
}
.welcome-btn {
  margin-top: 1em;
}

.prevent-interaction {
  pointer-events: none;
}
