<div class="participant-avatars position-absolute" style="right: 35px">
  <%= cl_image_tag challenge.user.photo.key, class: "participant-avatar" %>

  <%
    second_participant = if challenge.user == current_user
      challenge.participations.includes(:user).map(&:user).reject { |user| user == current_user }.first
    else
      current_user
    end
  %>

  <% if second_participant.present? %>
    <%= cl_image_tag second_participant.photo.key, class: "participant-avatar" %>
  <% end %>

  <% extra_count = challenge.participations.count - 2 %>
  <% if extra_count > 0 %>
    <div class="extra-count">+<%= extra_count %></div>
  <% end %>
</div>
