<div class="homepage-container">
 <div class="logo-container">
    <img src="app/assets/images/spry-logo.png" alt="Spry Logo" class="logo">
      <h1 class="logo-text">Spry.</div>
      <div class="description">
      <p class="description">Spry connects thousands of athletic people like you to practice your favorite sport together.</p>
     <%= link_to "Start now", welcome_path, class: "button" %>
  </div>
</div>
