<div class="welcome-page">
  <h2>Welcome to Spry</h2>
  <p>Spry connects thousands of athletic people like you to practice your favorite sport together.</p>
  <div class="buttons">
    <%= link_to 'Join an event', events_path, class: 'btn btn-flat' %>
    <%= link_to 'Create an event', new_event_path, class: 'btn btn-flat' %>
  </div>
</div>
