<%= link_to challenge_path(challenge), class: "plain" do %>
  <div class="container-card">
    <div class="container-info">
      <div class="title-dash"><%= challenge.team_name %></div>
      <div class="title-dash"><%= challenge.title %></div>
    </div>
  </div>
<% end %>
