<%= link_to "challenge_path(challenge)", class: "plain" do %>
  <div class="container-card">
    <div class="container-info">
      <div class="title-dash"><%= challenge.team %></div>
      <div class="title-dash"><%= challenge.name %></div>
    </div>
  </div>
<% end %>
