<%= link_to challenge_path(challenge), class: "plain" do %>
  <div class="container-card-challenge-details">
    <div class="container-info">
      <h1><%= challenge.team_name %></h1>
      <h2><%= challenge.title %></h2>
    </div>
  </div>
<% end %>
