<%= link_to challenge_path(challenge), class: "plain" do %>
  <div class="container-card-challenge-details">
    <div class="container-information">
      <h1 class="challenge-team-index"><%= challenge.team_name %></h1>
      <h6 class="challenge-name-index"><%= challenge.title %></h6>
       <%= render "shared/nav_progression", participation: challenge.participations.first, challenge: challenge, simple: true %>
      </div>
    </div>
  </div>
</div>
<% end %>
