
    <div class="">
      <div class="title-dash"><%= @challenge.team_name %></div>
      <div class="title-dash"><%= @challenge.title %></div>
      
      <img src="https://res.cloudinary.com/dexzpdaju/image/upload/v1742227950/Placeholder_map_f5lekk.png" label="PLACEHOLDER">
    </div>

