 <div class="profile-navigation">
  <%= link_to challenges_path, class: "nav-icon left" do %>
    <i class="fa-solid fa-chevron-left"></i>
  <% end %>
  <h3 class="profile-challenge-title">Challenge Summary</h3>
  <p></p>
</div>
