<div class="container">
  <img src="https://res.cloudinary.com/dexzpdaju/image/upload/v1742378247/Design_sans_titre_1_weqrpp.png" alt="Friends Exercising" class="challenge-image">
  <h1 class="challenge-title">Exercise with friends</h1>
  <p class="challenge-description">Invite friends and surpass yourself together!</p>
  <%= link_to "Get started", new_challenge_path, class: "btn mt-5 mx-auto"%>
</div>
