<div class="container">
  <img src="#" alt="Friends Exercising" class="challenge-image">
  <h1 class="challenge-title">Exercise with friends</h1>
  <p class="challenge-description">Invite friends and surpass yourself together!</p>
  <button class="btn mt-5 mx-auto">Get started</button>
  <%# <%= link_to "Get started", welcome_path, class: "btn mt-5 mx-auto"%>
</div>
