<% if challenge.category == "Distance challenge" %>
  <% @progress_percentage = ((challenge.participations.map(&:distance).sum / challenge.distance) * 100).round %>
<% else %>
  <% @progress_percentage = ((challenge.participations.map(&:duration).sum / challenge.duration) * 100) %>
<% end %>

<div class="progress">
  <div class="progress-bar" role="progressbar"
    style="width: <%= @progress_percentage %>%;"
    aria-valuenow="<%= @progress_percentage %>"
    aria-valuemin="0" aria-valuemax="100">
  </div>
</div>
