 <% progress_percentage = ((participation.distance.to_f / challenge.distance.to_f) * 100).round(2) %>
 <div class="progress-wrapper">
  <div class="progress-container">
    <div class="progress-bar" style="width: <%= progress_percentage %>%;">
    </div>
  </div>
</div>
