<div class="container-new-distance mt-3 text-center">
  <%= simple_form_for participation, local: true do |f| %>
    <%= f.input :distance, label: "Add a new distance", input_html: { min: 0, max: challenge.distance }, class: "" %>
    <%= f.button :submit %>
  <% end %>
</div>
