<div class="container">
 <%= render "challenges/navigation_back_logout" %>

  <div class="challenges-details">
    <h1 class="challenge-title">Summary</h1>
  </div>

  <%= render "challenges/challenge_details", challenge: @challenge %>

</div>
