<div class="container">
 <%= render "challenges/navigation_back_logout" %>
  <div class="container-card-challenge-details-show">
    <h1 class="summary-title"><strong>Summary</strong></h1>
    <%= render "challenges/challenge_details", challenge: @challenge, participation: @challenge.participations.first %>
    <%# <%= render "shared/nav_progression", participation: @challenge.participations.first, challenge: @challenge, simple: false %>
  </div>
</div>
