 <%= render "challenges/navigation_back_logout" %>
<div class="container">
  <div class="container-card-challenge-details-show">
    <%# <h1 class="summary-title"><strong>Summary</strong></h1> %>
    <%= render "challenges/challenge_details", challenge: @challenge, participation: @challenge.participations.first %>
  </div>
</div>
