.avatar {
  width: 40px;
  border-radius: 50%;
}
.avatar-large {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.avatar-navbar{
  width: 1.6em;
  height: 1.6em;
  border-radius: 50%;
  object-fit: cover;
}


.avatar-profile{
  display: block;
  position: absolute;
  top: 35px;
  height: 110px;
  width: 110px;
  border-radius: 50%;
}
.participant-avatars {
  display: flex;
  align-items: center;
}

.participant-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid white;
  margin-right: -10px;
  object-fit: cover;
}

.participant-avatar:first-child {
  margin-left: 0;
}
.participant-avatars .participant-avatar:nth-child(1) {
  z-index: 3;
}

.participant-avatars .participant-avatar:nth-child(2) {
  z-index: 2;
}

.participant-avatars .participant-avatar:nth-child(3) {
  z-index: 1;
}
.challenge-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.extra-count {
  width: 25px;
  height: 25px;
  background-color: #6D0333; /* Couleur du badge */
  color: white;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid white;
  margin-left: -10px;
  position: relative;
  z-index: 8;
  margin-bottom: 15px;
  margin-left: 3px;
}