.button {
  display: block;
  width: 100%;
  margin: 10px 0;
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #000000;
  transition: 0.3s ease;
}

.button:hover {
  background: #3D3D3D;
  color: white;
}
