.btn-bk {
  display: block;
  width: 70%;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #000000;
  transition: 0.3s ease;
  font-size: 16px;
}

.btn-bk:hover {
  background: #3D3D3D;
}

.btn-purple {
  background: #780245;
}

.btn-purple:hover {
  background: #52012e ;
}

.return-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
  background-color: rgb(255, 255, 255);
  padding: 5px 17px;
  border-radius: 15px;
  border: none;
  font-size: 25px;
  font-weight: 500;
}

.return-btn-profile {
  position: absolute;
  top: 10px;
  left: 10px;
  color: rgb(0, 0, 0);
  padding: 3px 14px;
  border-radius: 15px;
  border: none;
  font-size: 25px;
  font-weight: 500;
  text-decoration: none;
}


.btn-challenge {
  
}
