.mapboxgl-popup {
  max-width: 200px;
}
.mapboxgl-popup-content {
  text-align: center;
}

.plain {
  text-decoration: none;
  color: black;
}

.plain:hover {
  text-decoration: none;
  color: rgb(98, 92, 92);
}

.map-btn-add {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
  background-color: rgb(255, 255, 255);
  padding: 12px 14px;
  border: none;
  border-radius: 15px;
  font-size: 25px;
}

.mapboxgl-ctrl-geocoder--input {
  width: 284px;
}

.mapboxgl-ctrl-geocoder {
  border-radius: 15px;
}

/* Change la couleur de la loupe de la searchbar de map */
.mapboxgl-ctrl-geocoder--icon-search {
  fill: #FF5400;
}

.mapboxgl-ctrl-geocoder--input:focus {
  outline: none
}
