.progress-wrapper {
  width: 100%;
  margin: 20px 0;
}

/* Personnalisation de la barre de progression Bootstrap */
.progress {
  height: 10px;
  background-color: #decdd7; /* Fond de la barre */
  border-radius: 10px;
  overflow: hidden;
}

.progress-bar {
  background: #780245; /* Couleur de remplissage */
  transition: width 0.5s ease-in-out;
}

/* Personnalisation du pourcentage */
.progress-percentage {
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
}
